@charset "utf-8";

body{
    margin: 0px;
    padding: 0px;
    background-color: #F3F0D7;
    position: relative;
    border: none;
    color: #632626;
    font-family: 'Trebuchet MS';
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: 'Trebuchet MS';
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 50px;
    background-color: #FFBF86;
    color: #632626;
}
nav a{
    text-align: center;
    padding: 10px 50px;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover{
    background-color: #F3F0D7;
    color: #632626;
    transition: all ease 0.4s;
}

header{
    width: 100%;
    height: auto;
    position: relative;
    background: #CEE5D0;
}

h1{
    text-transform: uppercase;
}

*{
    box-sizing: border-box;
}
  
.row {
    margin-left: 70px;
    margin-right: 70px;
}

.column {
    float: left;
    width: 50%;
    padding: 5px;
}
  
/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}
  
table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    border: 2px solid #632626;
}
  
th, td {
    text-align: center;
    padding: 16px;
}
  
tr:nth-child(even) {
    background-color: #F3F0D7;
}

.contact{
    margin: 100px auto;
    width: 600px;
    padding: 60px;
    border: 1px solid #632626;

}

input[type=email]{
    margin: 5px auto;
    width: 200px;
    padding: 10px;
}

input[type=submit]{
    margin: 5px auto;
    float: right;
    padding: 5px;
    width: 60px;
    border: 1px solid #fff;
    color: #fff;
    background: #632626;
    cursor: pointer;
}

.about{
    margin: 50px auto;
    padding: 100px;     
    text-align:justify;
    background-color: #F3F0D7;
    color: #632626;
    border: 1px solid #632626;
    width: 400px;
    height: auto;
}

footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 3px;
    background-color: #FED2AA;
    text-align: center;
}